-- Active: 1746024898933@@127.0.0.1@3306@intrusion_detection_system
-- Create the database
    CREATE DATABASE intrusion_prevention_system;
    USE intrusion_prevention_system;

    -- Create the users table
    CREATE TABLE users (
        id INT AUTO_INCREMENT PRIMARY KEY,
        first_name VARCHAR(50) NOT NULL,
        last_name VARCHAR(50) NOT NULL,
        username VARCHAR(50) NOT NULL UNIQUE,
        dob DATE NOT NULL,
        phone_number VARCHAR(15) NOT NULL,
        gmail VARCHAR(100) NOT NULL,
        password VARBINARY(255) NOT NULL,
        failed_attempts INT DEFAULT 0,
        token VARCHAR(255),
        token_expires_at DATETIME,
        created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
    );